<!DOCTYPE html>
<html lang="ja">
        <head></head>
        <body>
	<font size="3" face="ＭＳ ゴシック">Robot Hand</font><br><font size="6" face="ＭＳ ゴシック">TRX</font><br>

	<p>ボタンを上からクリック</p>
                <form action="/getpost1" method ="get">
                        <button name="get1_value">モータON</button>
                </form>

                <form action="/getpost2" method ="get">
                        <button name="get2_value">ハンドを閉じる</button>
                </form>

		<form action="/getpost3" method ="get">
                        <button name="get3_value">モータ停止</button>
                </form>

		<form action="/getpost4" method ="get">
                        <button name="get4_value">モータOFF</button>
                </form>

		<a href="https://qiita.com/kosystem/items/0023cfee941fdf099087">参考URL・・・Pythonでシリアル通信</a><br>
		<a href="https://www.w3schools.com/html/">参考URL・・・HTMLリファレンス</a><br>
        </body>
</html>

